@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Merriweather:wght@400;700;900&family=Mulish:wght@400;600;700;800&family=Work+Sans:wght@400;500;600;700;800;900&display=swap");

* {
  font-family: "Mulish", sans-serif;
}

/* Shared Section */
.section-title {
  color: #131318;
  font-family: Mulish;
  font-size: 2.5rem;
  font-weight: 800;
}
.section-description {
  color: rgba(19, 19, 24, 0.7);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem; /* 162.5% */
}
.btn-primary {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1.25rem;
  font-weight: 800;
  border-radius: 0.5rem;
  background: #ff5400;
  padding: 0.875rem 2.125rem;
  border: 0px;
}

/* header section */
.header-container {
  margin: 6.25rem 8.125rem;
}
.nav-title {
  display: flex;
  gap: 1.25rem;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 3.125rem;
}

nav .nav-links a {
  text-decoration: none;
  color: #424247;
  font-family: Mulish;
  font-size: 1.125rem;
  font-weight: 400;
  margin-left: 2.5rem;
}

#home-red {
  color: #ff5400;
  font-family: Mulish;
  font-size: 1.125rem;
  font-weight: 700;
}

.banner {
  background-image: linear-gradient(
      180deg,
      rgba(19, 19, 24, 0.8) 0%,
      rgba(19, 19, 24, 0) 100%
    ),
    url(resources/B9A2-Hero-Travel/Images/Group\ 13.png);

  border-radius: 1rem;
  background-repeat: no-repeat;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.625rem 11.25rem;
}

.banner-content h1 {
  color: #fff;
  font-family: Mulish;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 1.5rem;
}
.banner-content p {
  color: #fff;
  text-align: center;
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6rem; /* 162.5% */
  margin-top: 0px;
  margin-bottom: 2.5rem;
}

.banner .banner-input {
  border-radius: 0.5rem;
  background: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}

.banner-input {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.banner-input select {
  border-radius: 0.5rem;
  background: #fff;
  color: rgba(19, 19, 24, 0.5);
  font-family: Mulish;
  font-size: 1rem;
  font-weight: 400;
  width: 8.125rem;
  padding: 1rem;
  border: 0px;
}

/* <!-- Our Popular Tours Secton --> */
.tours-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 6.25rem 8.125rem;
  gap: 6.25rem;
}
.tours-content h1 {
  margin-bottom: 1.5rem;
}
.tours-content p {
  margin-bottom: 1.5rem;
  margin-top: 0px;
}
.tours-content > ul li {
  margin-top: 0px;
  margin-bottom: 1rem;
}

/* <!-- Destination section --> */

.destination-container {
  margin: 6.25rem 8.125rem;
}
.destination-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.destination-content h1 {
  margin-bottom: 1.25rem;
}
.destination-content p {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
.destination-img {
  display: grid;
  grid-template-rows: auto auto auto;
  row-gap: 1.5rem;
}
.destination-img-1 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.5rem;
}
.destination-img-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 1.5rem;
}
.destination-img-3 {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 1.5rem;
}

.destination-img img {
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background: linear-gradient(
      0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%
    ),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
}

/* <!-- Why choose us secion --> */

.why-choose-container {
  margin: 6.25rem 8.125rem;
}
.why-choose-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.why-choose-content h1 {
  margin-bottom: 1.125rem;
}
.why-choose-content p {
  width: 31.25rem;
  text-align: center;
  margin-top: 0px;
  margin-bottom: 2.5rem;
}
.why-choose-cards .cards-section-1 {
  display: flex;
  gap: 1.5rem;
}

.why-choose-cards .cards-section-2 {
  display: flex;
  justify-content: center;
  margin-top: 1.5rem;
}
.why-choose-cards .cards {
  max-width: 31.25rem;
  border-radius: 1rem;
  padding: 1.875rem 3.125rem 1.875rem 1.875rem;
}

.cards img {
  margin-bottom: 1.5rem;
}
.cards h2 {
  font-size: 1.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
}
.cards p {
  margin-top: 0px;
}

#choose-card-1 {
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
}
#choose-card-2 {
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
}
#choose-card-3 {
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
}

/* <!-- Discount section --> */

.discount-container {
  margin: 6.25rem 8.125rem;
}
.discount-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.discount-content h1 {
  margin-bottom: 1rem;
}
.discount-content p {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 2.5rem;
}
.discount-img-1 {
  background-image: url(resources/B9A2-Hero-Travel/Images/Group\ 39.png);
  border-radius: 1rem;
  height: 25rem;
  padding: 3.125rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: right;
}

.discount-img-1-card {
  width: 45%;
  padding: 3.125rem 70px 3.125rem 3.125rem;
  border-radius: 1rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.discount-img-2 {
  background-image: url(resources/B9A2-Hero-Travel/Images/Group\ 40.png);
  border-radius: 1rem;
  height: 25rem;
  padding: 3.125rem;
  margin-bottom: 1.5rem;
  display: flex;
  justify-content: left;
}
.discount-img-2-card {
  width: 45%;
  padding: 3.125rem 70px 3.125rem 3.125rem;
  border-radius: 1rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}
.discount-img-3 {
  background-image: url(resources/B9A2-Hero-Travel/Images/Group\ 39.png);
  border-radius: 1rem;
  height: 25rem;
  padding: 3.125rem;
  display: flex;
  justify-content: right;
}
.discount-img-3-card {
  width: 45%;
  padding: 3.125rem 70px 3.125rem 3.125rem;
  border-radius: 1rem;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

.card-icon {
  display: flex;
  gap: 0.5rem;
  margin-bottom: 1rem;
}
.discount-img h2 {
  color: #131318;
  font-family: Mulish;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 0.5rem;
  margin-top: 0px;
  margin-bottom: 1rem;
}
.discount-img h3 {
  color: #ff5400;
  font-family: Mulish;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-top: -10px;
}

/* <!-- Perfect place section --> */
.perfect-place-container {
  margin: 6.25rem 8.125rem;
  display: flex;
  gap: 1.875rem;
}

.perfect-place-content h1 {
  margin-bottom: 1.5rem;
}
.perfect-place-content p {
  margin-top: 0px;
  margin-bottom: 1.5rem;
}
.perfect-place-content > ul li {
  margin-top: 0px;
  color: #131318;
  font-family: Mulish;
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6rem; /* 162.5% */
  margin-bottom: 1rem;
}
.perfect-place-img h2 {
  width: 18.75rem;
  text-align: center;
  position: relative;
  bottom: 17.5rem;
  left: 9.6875rem;
  color: #fff;
  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 2.25rem; /* 150% */
}

/* <!-- Newslatter section --> */

.newslatter-container {
  margin: 6.25rem 8.125rem;
  display: flex;
  gap: 1.5rem;
}

.newslatter-content {
  border-radius: 1rem;
  border: 1px solid #ff5400;
  padding: 1.875rem;
  height: 100%;
}
.newslatter-content h1 {
  margin-bottom: 1rem;
}
.newslatter-content p {
  margin-top: 0px;
  margin-bottom: 1.25rem;
}
.newslatter-content hr {
  margin-top: 0px;
  margin-bottom: 1.25rem;
}
.newslatter-content input {
  margin-top: 0px;
  margin-bottom: 1rem;
  width: 17.5rem;
  border-radius: 0.5rem;
  background: rgba(19, 19, 24, 0.05);
  padding: 1rem;
  padding-left: 1.25rem;
  border: 0px;
}
.newslatter-content button {
  margin-top: 4px;
  width: 100%;
}

.newslatter-img .stamp {
  border-radius: 1rem;
  background: #ff5400;
  width: 23.125rem;
  padding: 1.875rem;
  text-align: center;
  position: relative;
  bottom: 12.5rem;
  left: 33.125rem;
  transform: rotate(-30deg);
}

.stamp h2 {
  margin: 0px;
  color: #fff;
  font-family: Mulish;
  font-size: 1.5rem;
  font-weight: 400;
}
.stamp h1 {
  margin: 0px;
  color: #fff;
  font-family: Mulish;
  font-size: 2rem;
  font-style: normal;
  font-weight: 800;
}

/* footer section */
footer {
  background: rgba(19, 19, 24, 0.05);
}
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content .footer-heading {
  display: flex;
  gap: 1.25rem;
  margin-top: 6.25rem;
  margin-bottom: 1rem;
}

#abroad {
  color: #ff5400;
}
.footer-content p {
  margin-top: 0px;
  margin-bottom: 1.875rem;
}
.footer-content .footer-social-img img {
  margin-top: 0px;
  margin-bottom: 1.875rem;
}
.footer-content hr {
  background-color: rgba(6, 6, 7, 0.808);
}
#copyright {
  margin-top: 0px;
  margin-bottom: 6.25rem;
}

/* Responsive media query section */
/* For mobile devices */
@media screen and (max-width: 600px) {
  .tours-container,
  .cards-section-1,
  .perfect-place-container,
  .newslatter-container {
    flex-direction: column;
  }
  .tours-container,
  .why-choose-container,
  .perfect-place-container,
  .newslatter-container,
  .header-container,
  .destination-container,
  .discount-container {
    margin: 1.25rem;
  }
  .tours-img img,
  .why-choose-container .why-choose-content,
  .why-choose-cards .Cards,
  .perfect-place-img img,
  .newslatter-img img,
  .newslatter-content input {
    width: 100%;
  }

  .why-choose-content p,
  .perfect-place-content h1,
  .perfect-place-content p,
  .perfect-place-content > ul li,
  .newslatter-content {
    width: auto;
  }
  .perfect-place-img h2 {
    display: none;
  }
  .newslatter-img .stamp {
    display: none;
  }
  .newslatter-content input {
    padding-left: 5px;
  }
  .footer-content {
    padding: 1.25rem;
  }

  .banner background-image {
    width: 100%;
    height: 100%;
  }
  .banner-content {
    padding: 1.25rem;
  }
  .banner-input {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .banner-input select {
    width: auto;
  }

  .banner-content h1 {
    font-size: 2.5rem;
    margin-top: 0px;
    margin-bottom: 10px;
  }
  .banner-content p {
    margin-bottom: 1.25rem;
  }
  .destination-img,
  .destination-img-1,
  .destination-img-2,
  .destination-img-3 {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  .discount-img-1,
  .discount-img-2,
  .discount-img-3 {
    padding: 1.25rem;
    align-items: end;
  }
  .discount-img-1-card,
  .discount-img-2-card,
  .discount-img-3-card {
    width: 100%;
    height: 40%;
    padding: 1.25rem;
  }
}
